/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/public-sans-v14-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/public-sans-v14-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


  /* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/public-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* public-sans-500 - latin */
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/public-sans-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/public-sans-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
  overflow-x: hidden;
    margin: 0;
    font-family: "'Public Sans'", "Arial", sans-serif;
    height: 100%;
    
}

img{
    display: block;
    height: auto;
}

.container{
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

a{

    display: inline-block;
    text-decoration: none;
}

.site-main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.site-header{
    position: fixed;
    left: 0;
    top:0;
    z-index: 11;
   width: 100%;
   background-color: #fff;
   
}
.hero
{

    
    display: -webkit-box;

    
    display: -ms-flexbox;

    
    display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}


.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 
}
.nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    
}

.nav__item{
    list-style: none;
    padding: 0 15px;

}
.nav__link{
    font-family: 'PublicSans';
    font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.107692px;
color: #9597A5;
 position: relative;
 padding: 32px 0;
 
}
.nav__link::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 4px;
-webkit-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}
.nav__link:hover{
    color: #2D314D;
}
.nav__link:hover::before{
width: 100%;
border-bottom: 4px solid #33D35E;
}
.site-link{
    font-weight: 500;
font-size: 14px;
line-height: 28px;
color: #fff;
padding: 8px 35px;
background: -o-linear-gradient(315deg, #33D35E 0%, #2AB6D9 99.58%);
background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
border-radius: 22px;

}
.nav__link--link{
    margin-right:200px;
}

.site-link:hover{
    opacity: 0.4;
}

.hero-top{
    background: #F2F2F2;
    
    background-image: url("../images/hero-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 583px) calc(-100% + -480px);
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 250px 0 170px 0;
    position: relative;
  }
  .banner__card {
    width: 447px;
    
  }
  .card__title {
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    margin: 0;
  }
  .card__text {
    font-size: 19px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin: 24px 0 36px 0;
  }
  .banner__img {
    position: absolute;
    right: -278px;
    top: -40px;
  }
  

 
  .why-choose-top{
    background-color: #F4F5F7;
    padding: 95px 0;
  }
  .why-easybank__content {
    width: 635px;
  }
  .why-easybank__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content__title {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    margin: 0;
  }
  .content__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin: 16px 0 0 0;
  }
  .why-easybank__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 72px 0 0 0 ;
    padding: 0;
  }
  .why-easybank__list-item {
    width: 255px;
  }
  .why-easybank__list-item::before {
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    background-image: url("../images/Group\ 23.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
  }
  .why-easybank__list-item:nth-child(2):before {
    background-image: url("../images/Group\ 22.svg");
  }
  .why-easybank__list-item:nth-child(3):before {
    background-image: url("../images/Group\ 21.svg");
  }
  .why-easybank__list-item:nth-child(4):before {
    background-image: url("../images/Group\ 20.svg");
  }
  .why-easybank__title {
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    margin: 0;
  }
  .why-easybank__text {
    font-size: 16px;
    line-height: 26px;  
    letter-spacing: -0.25px;
    color: #9597A5;
    margin: 26px 0 0 0;
  }


.latest-articles {
    padding: 80px 0;
  }
  .latest-articles__title {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    margin: 0 0 40px 0;
  }
  .latest-articles__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 40px 0 0 0;
  }
  .latest-articles__list-item {
    width: 255px;
    background-color: #fff;
    border-radius: 5px;
  }

  .latest-articles__name {
    padding: 0 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
  }
  .latest-articles__card-title a {
    padding: 0 24px;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #9597A5;
   
  }
  .latest-articles__card-title a:hover {
    color: #30C88F;
  }
  .latest-articles__text {
    padding:  0 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
  }
  .site-footer {
    padding: 48px 0;
    background-color: #2D314D;
  }
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    margin-right: 132px;
  }
  .footer-inner__list-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 55px 0 0 0 ;
  }
  .footer-inner__list-item {
    margin-right: 13px;
  }
  .footer-inner__list-item:last-child {
    margin-right: 0;
  }
  .footer-inner__list-link:hover svg path {
    fill: #30C88F;
  }
  .footer-inner__list {
    list-style: none;
    padding: 0;
    margin: 0 auto 0 100px;
  }
  .footer-inner__list--ml {
    margin: 0 0 0 0;
  }
  .footer-inner__item:last-child {
    margin-bottom: 0;
  }
  .footer-inner__link {
      margin-bottom: 8px;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #fff;
  }
  .footer-inner__link:hover {
    color: #30C88F;
  }
  .btn-group {
    text-align: right;
  }
  .btn-group__text {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    opacity: 0.5;
    color: #fff;
    margin-top: 24px;
  }
  .button {
    border-radius: 22px;
    background-color: #fff;
    margin-left: 60px;
  }